<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
   
    <!--Local Side  -->
  <connectionStrings>
    <add name="polymerConnectionString" connectionString="Data Source=CEMSEVENPC;Initial Catalog=polymer;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--Server Side   -->
  <!--  <connectionStrings>
  <add name="polymerConnectionString" connectionString="Data Source=77.245.159.27,1433;Initial Catalog=polymerDB;User ID=adminpdb;Password=agc8490*0443;" providerName="System.Data.SqlClient" />
  </connectionStrings>
-->
  <!--Local Side  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8"/>
    <!--Server Side   -->
    <!--
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
        -->
    <!--The redirection to the login page (~/Login.aspx) happens implicitly based on the authentication mode and the presence of the [Authorize] attribute in your code. -->
    <!-- [Authorize] attribute in your code ensures that unauthenticated users are directed to the login page when accessing protected resources. The magic lies in the framework’s built-in behavior! -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="60"/>
    </authentication>
    <!--"C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_regsql.exe" If you want to delete use this wizard.  -->
    <membership defaultProvider="polymerSqlMembershipProvider">
      <providers>
        <clear/>
        <!--Add a customized SqlMembershipProvider -->
        <add name="polymerSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="polymerConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="polymerWebERP" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="polymerSqlSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="polymerSqlSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="polymerWebERP" connectionStringName="polymerConnectionString"/>
      </providers>
    </roleManager>
  </system.web>
  <!--Server Side   -->
  <!-- <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="~/BusinessLayer/main-ERP.aspx"/>
      </files>
    </defaultDocument>
    
<httpErrors>
  <remove statusCode="400" />
  <error statusCode="400" path="C:\websites\lyas.services\error_docs\bad_request.html" />
  <remove statusCode="401" />
  <error statusCode="401" path="C:\websites\lyas.services\error_docs\unauthorized.html" />
  <remove statusCode="403" />
  <error statusCode="403" path="C:\websites\lyas.services\error_docs\forbidden.html" />
  <remove statusCode="404" />
  <error statusCode="404" path="C:\websites\lyas.services\error_docs\not_found.html" />
  <remove statusCode="405" />
  <error statusCode="405" path="C:\websites\lyas.services\error_docs\method_not_allowed.html" />
  <remove statusCode="406" />
  <error statusCode="406" path="C:\websites\lyas.services\error_docs\not_acceptable.html" />
  <remove statusCode="407" />
  <error statusCode="407" path="C:\websites\lyas.services\error_docs\proxy_authentication_required.html" />
  <remove statusCode="412" />
  <error statusCode="412" path="C:\websites\lyas.services\error_docs\precondition_failed.html" />
  <remove statusCode="414" />
  <error statusCode="414" path="C:\websites\lyas.services\error_docs\request-uri_too_long.html" />
  <remove statusCode="415" />
  <error statusCode="415" path="C:\websites\lyas.services\error_docs\unsupported_media_type.html" />
  <remove statusCode="500" />
  <error statusCode="500" path="C:\websites\lyas.services\error_docs\internal_server_error.html" />
  <remove statusCode="501" />
  <error statusCode="501" path="C:\websites\lyas.services\error_docs\not_implemented.html" />
  <remove statusCode="502" />
  <error statusCode="502" path="C:\websites\lyas.services\error_docs\bad_gateway.html" />
  <remove statusCode="503" />
  <error statusCode="503" path="C:\websites\lyas.services\error_docs\maintenance.html" />
</httpErrors>
<tracing>
  <traceFailedRequests>
    <clear />
  </traceFailedRequests>
</tracing>


</system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  -->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>