<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	
	

	<system.web>
		<globalization culture="en-US" uiCulture="en-US" />
		<authorization>
			<allow roles="Administrators" />
			<deny users="*"/>
			<deny users="?"/>
		</authorization>
	</system.web>

</configuration>



